<div class="navbar-fixed">
    <nav class="indigo darken-4">
    <div class="nav-wrapper">
        <span class="flow-text" style="margin-left: -10px;">welcome
            <i class="material-icons left" style="margin-left: 10px;">polymer</i></span>     
        <a class="brand-logo" style="margin-left: 7px;">{{username}},
        </a>
        <ul id="nav-mobile" class="right">
            <li><a (click)="goToLoginPage()">Logout         
             </a>
            </li>
      </ul>
    </div>
</nav>
</div>
