<div class="valign-wrapper">
    <div class="valign container" style="margin-top: 15vh; width: 50vw; border:1px solid #cccccc; padding: 7px 15px 0px 15px;">
        <div [hidden]="!submitted">
            <div class="progress">
            <div class="indeterminate"></div>
            </div>
        </div>
        <form (ngSubmit)="onSubmit()">
            <h3 class="teal-text">Login Form</h3>
            <div class="input-field">
                <input id="username" type="text" class="validate" #username required>
                <label for="username">Username</label>
            </div>
            <div class="input-field">
                <input id="password" type="password" class="validate" #password required>
                <label for="password">Password</label>
            </div>
            <button class="center-align btn waves-effect waves-light" type="submit" style="margin-top: 15px; margin-bottom: 10px;">Login
                <i class="material-icons right">send</i>
            </button>
        </form>
        <div class="divider"></div>
        <blockquote style="margin-bottom: 15px;">
            {{ notice }}
        </blockquote>
    </div>
</div>
