<form (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="input-field">
            <input type="text">
            <label for="name">Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field">
            <input type="text">
            <label for="time">Proposed Time</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field">
            <input type="text">
            <label for="place">Proposed Place</label>
        </div>
    </div>
    <button class="waves-effect waves-light right btn indigo darken-4" type="submit" name="action">Propose
    </button>
</form>